* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Raleway", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: Transparent;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

header .header__menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
header .header__menu ul {
  max-width: 670px;
  display: flex;
  justify-content: space-between;
}
header .header__menu ul li {
  width: 134px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-bottom: 3px solid rgba(186, 187, 197, 0);
  transition: all 0.2s ease-in-out;
}
header .header__menu ul li:hover {
  border-bottom: 3px solid #BABBC5;
}
header .header__menu ul li:active {
  color: #FF4343;
  border-bottom: 3px solid #FF4343;
}

.baner {
  width: 100%;
  text-align: center;
  background-image: url(/assets/img/bgmain.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.baner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.6705882353);
}
.baner__title {
  max-width: 1020px;
  margin: 0px auto 35px auto;
  padding: 235px 0px 0px 0px;
  position: relative;
  z-index: 1;
}
.baner__title h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  color: #fff;
}
.baner__text {
  max-width: 1000px;
  margin: 0px auto 88px auto;
  position: relative;
  z-index: 1;
}
.baner__text p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.baner__button {
  padding: 0px 0px 120px 0px;
  position: relative;
  z-index: 1;
}
.baner__button button {
  width: 370px;
  height: 78px;
  background-color: #FF4343;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.baner__button button:hover {
  background-color: #E71414;
}
.baner__button button:active {
  background-color: #FF4343;
  box-shadow: 1px 1px 10px #FF4343;
}

.features {
  padding: 130px 0px 35px 0px;
}
.features__card {
  max-width: 370px;
  text-align: center;
}
.features__card .card-image {
  margin-bottom: 40px;
}
.features__card .card-title {
  margin-bottom: 40px;
}
.features__card .card-title h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #2D3033;
}
.features__card .card-text {
  margin-bottom: 100px;
}
.features__card .card-text p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}

.works {
  margin-bottom: 115px;
}
.works .grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  grid-template-rows: repeat(2, minmax(144px, 1fr));
}
.works .grid-wrapper .grid-item {
  position: relative;
}
.works .grid-wrapper .grid-item a {
  opacity: 0;
}
.works .grid-wrapper .grid-item a:hover {
  opacity: 1;
}
.works .grid-wrapper .grid-item a :active {
  background-color: rgba(185, 12, 12, 0.8);
}
.works .grid-wrapper .grid-item .choice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.works .grid-wrapper .grid-item .choice .choice-title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin-top: 80px;
}
.works .grid-wrapper .grid-item .choice .choice-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #fff;
  margin-bottom: 80px;
}
.works .grid-wrapper .grid-item img {
  width: 100%;
  height: 100%;
}

.ourteam {
  margin-bottom: 128px;
}
.ourteam__card {
  max-width: 270px;
}
.ourteam__card .card-image {
  margin-bottom: 35px;
}
.ourteam__card .card-image img {
  width: 270px;
  height: 270px;
}
.ourteam__card .card-title {
  margin-bottom: 27px;
}
.ourteam__card .card-title .name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #2D3033;
  margin-bottom: 17px;
}
.ourteam__card .card-title .post {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #FF4343;
}
.ourteam__card .card-text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 40px;
}
.ourteam__card .card-link {
  max-width: 131px;
  display: flex;
  justify-content: space-between;
}
.ourteam__card .card-link .link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials {
  margin-bottom: 128px;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 50%;
  background-color: #5C3249;
}
.testimonials .swiper {
  padding-bottom: 40px;
}
.testimonials .swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
}
.testimonials .swiper .swiper-slide .testimonials__image {
  width: 50%;
}
.testimonials .swiper .swiper-slide .testimonials__image img {
  width: 100%;
  height: auto;
}
.testimonials .swiper .swiper-slide .testimonials__content {
  width: 50%;
  background-color: #5C3249;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials .swiper .swiper-slide .testimonials__content .content-wrapper .cite {
  max-width: 455px;
  margin-bottom: 40px;
}
.testimonials .swiper .swiper-slide .testimonials__content .content-wrapper .cite q {
  font-family: "Cardo", serif;
  font-style: italic;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
}
.testimonials .swiper .swiper-slide .testimonials__content .content-wrapper .signature p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}

.download {
  text-align: center;
  margin-bottom: 115px;
}
.download__title {
  margin-bottom: 32px;
}
.download__title h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #2D3033;
}
.download__text {
  margin-bottom: 55px;
}
.download__text p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #2D3033;
}
.download__button button {
  width: 370px;
  height: 78px;
  background-color: #FF4343;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.download__button button:hover {
  background-color: #E71414;
}
.download__button button:active {
  background-color: #FF4343;
  box-shadow: 1px 1px 10px #FF4343;
}

.overfooter {
  background-color: #353C65;
  text-align: center;
  padding: 70px 0px;
}
.overfooter__box {
  max-width: 370px;
}
.overfooter__box .box-title {
  margin-bottom: 35px;
}
.overfooter__box .box-title h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.overfooter__box .box-text p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.overfooter__box .box-link {
  max-width: 170px;
  display: flex;
  justify-content: space-between;
}
.overfooter__box .box-link .link {
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #2C3154;
}
footer .footer-text {
  padding: 30px 0px;
  max-width: 370px;
}
footer .footer-text p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #6C7279;
}
footer .footer-text p span {
  color: #fff;
}/*# sourceMappingURL=style.css.map */